<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>IRPF</ion-title>
        
        <ion-buttons slot="end">
            <ion-button (click)="goHistory()">
                <ion-icon name="list-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">

        <ion-card>
            <ion-item>
                <ion-label>Nome:</ion-label>
                <ion-input type="text" placeholder="Antônio Silva" [(ngModel)]="pagador.nome" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Ganho anual:</ion-label>
                <ion-input type="number" placeholder="55000.00" [(ngModel)]="pagador.ganhoAnual" ></ion-input>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-button expand="block" (click)="calcular()">Calcular</ion-button>
        </ion-card>

    </div>

</ion-content>